*{
    padding: 0;
    margin: 0;
    font-family: "Cairo", sans-serif;
}
body{
    background-color: #ffe7e7;
}
nav{
    padding: 0px 0px 0px 10px;
}
.brand-logo span{
    color: aqua;
}
.nav-content{
    position: fixed;
    bottom: 0px;
    background-color: #E53935;
    width: 100%;
    height: auto;
    padding: 6px 0px 0px 0px;
}
.nav-content .fa{
    font-size: 26px;
}
main.container.home{
    padding: 2px 0px 0px 0px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main.container.home h3{
    font-weight: bold;
    padding: 4px;
    margin: 10px 2px 10px 2px;
}
main.container.home p{
    padding: 4px;
    margin: 5px 2px 10px 2px;
}
main.container.home a{
    margin: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
main.container.home span{
    padding: 2px;
    margin: 2px;
    font-weight: bold;
}
.btn-floating{
    position: fixed;
    top: 74px;
    right: 15px;
}
.footer-copyright i.fa{
    margin: 0px 4px;
    font-size: 20px;
    padding: 6px;
    color: #f7f7f7;
    background: transparent;
    border: 2px solid #f7f7f7;
    border-radius: 3px;
    transition-duration: 0.3s;
}
.footer-copyright i.fa:hover{
    color: #E53935;
    background: #f7f7f7;
    border: 2px solid #0000;
}
@media screen and (max-width: 992px) {
    body{
        padding: 0px 0px 54px 0px;
    }
}